<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BSECompanyCodeURL" value="http://stocktrendsindia.appspot.com/list-of-companies-traded-bse-stock-scrip-codes.html"/>
    <add key="BSEURL1" value="http://bseindia.com/bseplus/StockReach/AdvStockReach.aspx?scripcode="/>
    <add key ="BSEURL2" value="&amp;section=tab1&amp;IsSR=true&amp;random="/>
    <add key="BSEImageCaptureURL1" value="http://ir.bseindia.com/stock/charts/scol"/>
    <add key="BSEImageCaptureURL2" value="_auction.gif?random="/>
    <add key="NSEURL" value="http://www.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol="/>
    <add key="NSEURL1" value="http://www.nseindia.com/live_market/dynaContent/live_watch/get_quote/ajaxCompanySearch.jsp?search="/>
    
  </appSettings>
</configuration>